<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flo.knowyourvoice" >

    <item android:id="@android:id/background">
        <shape>
            <corners android:radius="8dp" />
            <gradient
                android:endColor="#000000"
                android:startColor="#000000" />
            <stroke
                android:width="1dp"
                android:color="#FFFFFF" />
        </shape>
    </item>
    <item android:id="@android:id/progress">
        <clip>
            <shape>
                <corners android:radius="8dp" />
                <gradient
                    android:endColor="#FF0000"
                    android:startColor="#00FF00" />
            </shape>
        </clip>
    </item>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_record_audio"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>
